/*règle neasted "mixine"*/
@mixin flexMid {
    display:flex;
    justify-content: center;
    align-items: center;
}

.boxp{
    @include flexMid;
    width: 300px;
    height: 300px;
    background-color: aqua;
}
.boxe{
    width: 100px;
    height: 100px;
    background-color: blue;
}
/*règle imbrication*/
.sectio{
    background-color: aqua;
    width: 100%;
    p{
        border:1px solid gray;
        
    }
    
    
    a{
        color:black;
        background-color: blue;
    }
}
/*règle fonction est appliquer dan le height de body*/
@function add($a,$b){
    @return $a + $b ;
}
/*règle variable*/
$primary:#201f1f;
body{
background-color: $primary;
height: add(100vh,50vh)
}
/*règle d'héritage*/
.navigation{
    color: gray;
    a{
        color:gray;
    }
}
.sectio{
@extend .navigation;
}
/*condition*/
/*@debug pour inspecter la condition*/
@debug lightness($primary) > 50% ;
 .btn{
    @if (lightness($primary) > 50% ){
        color: red;
    } @else{
        color: white;
    }
    }


    ul{
       list-style-type: none;
       a{
           text-decoration: none;
           display: inline-block;
       }
       li{
           display: inline-block;
           margin-left: 10px;
       }
    }
    /*héritage*/
    .para{
        @extend .sectio 
    }
